<main xmlns="http://www.w3.org/1999/html">
  <header>

  </header>
  <div id="features" *ngFor="let feature of features">
    <div class="feature">
      <p class="featureId">{{feature['id']}}</p>
      <p class="featureName">{{feature['name']}}</p>
      <p class="featureStatus">{{feature['status']}}</p>
    </div>
  </div>
  <div id="crud" class="tasks">
    <button>ADD TASK</button>
    <button>ADD FEATURE</button>
    <button>EDIT TASK</button>
    <button>EDIT FEATURE</button>
    <div id="addTaskForm">
      <span><p>ID</p> <input type="number"></span>
    </div>
    <button>SAVE</button>
  </div>
  <div id="todo" class="tasks">
  </div>
  <div id="doing" class="tasks" >
    <div class="task" *ngFor="let task of tasks">
      <p class="taskId">{{task['id']}}</p>
      <p class="taskName">{{task['name']}}</p>
      <p class="taskStatus">{{task['status']}}</p>
    </div>
  </div>
  <div id="done" class="tasks">

  </div>
</main>
